.title{
    margin: 5px;
    margin-top: 15px;
}
.item{
    margin: 5px;
    width: 30vw;
    background-color: rgb(181, 45, 45);
}
.skillItem{
    display: flex;
}
.ft{
    width: 15vw;
    background-color: blueviolet;
}
.sy{
    width: 25vw;
    background-color: rgb(60, 34, 85);
}
.ty{
    width: 10vw;
    background-color: rgb(107, 34, 34);
}